@media (min-width: 600px) and (max-width: 1024px) {
    
    body {
        overflow: auto;
    }

    section {
        height: auto;
        padding: 150px 32px;
    }

    #intro-section {
        padding: 32px 32px;
        display: flex;
        flex-direction: column;
    }

    #end-section {
        padding-top: 150px;
        padding-bottom: 32px;
    }

    header {
        order: 1;
    }

    .title {
        order: 2;
    }

    .intro-visual {
        width: 60%;
        display: block;
        position: static;
        align-self: center;
        order: 3;
    }

    .intro-article-container {
        order: 4;
    }

    .section-container.introduce {
        grid-template-columns: repeat(2, 1fr);
    }

}