@media (min-width: 600px) and (max-width: 1024px) {
    
    body {
        overflow: auto;
    }

    section {
        height: auto;
        padding: 150px 32px;
    }

    #intro-section {
        padding: 32px 32px;
        display: flex;
        flex-direction: column;
    }

    #end-section {
        padding-top: 150px;
        padding-bottom: 32px;
    }

    header {
        order: 1;
    }

    .title {
        order: 2;
    }

    .intro-visual {
        width: 60%;
        display: block;
        position: static;
        align-self: center;
        order: 3;
    }

    .intro-article-container {
        order: 4;
    }

    .section-container.cover {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    .cover-title-box {
        gap: 100px;
    }

    .cover-text li {
        font-size: clamp(1.2rem, 1vw, 1.8rem);
    }

    .section-container.introduce {
        grid-template-columns: repeat(2, 1fr);
    }

    article {
        height: 850px;
    }
    
    .article-text p {
        font-size: clamp(1.2rem, 2vw, 1.4rem);
    }

    .section-container.work {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: clamp(16px, 2vw, 32px);
    }
}