@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background-color: #000002;
    color: #FFF;
    font-family: 'Pretendard';
    /* overflow: hidden; */
}

section {
    width: 100%;
    padding: 32px 32px;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    transition: transform 1s ease-in-out;
    overflow: hidden;
}

#intro-section {
    position: relative;
}

header {
    display: flex;
    justify-content: flex-end;
}

header h2 {
    font-size: clamp(1.2rem, 1vw, 1.8rem);
    font-weight: bold;
}

.section-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.section-container.cover {
    gap: clamp(16px, 2vw, 66px);
}

.section-container.introduce {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(16px, 2vw, 32px);
}

.section-container.work {
    display: flex;
    gap: clamp(16px, 2vw, 32px);
}

.section-container.end {
    flex-direction: column;
    align-items: center;
}

.cover-pic,
.article-pic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cover-pic.who-is-he {
    background-image: url(../img/introduce_cover.png);
}

.cover-pic.his-work {
    background-image: url(../img/work_cover.png);
}

.cover-pic.thankyou {
    background-image: url(../img/end_cover.png);
}

.article-pic.discovery {
    background-image: url(../img/introduce_seed.png);
}

.article-pic.input {
    background-image: url(../img/introduce_cell.png);
}

.article-pic.detail {
    background-image: url(../img/introduce_pixel.png);
}

.article-pic.tools {
    background-image: url(../img/introduce_code.png);
}

.article-pic.cgv-tablet {
    background-image: url(../img/MockUp_CGV_tablet.jpg);
}

.article-pic.cgv-mobile {
    background-image: url(../img/MockUp_CGV_m.jpg);
}

.article-pic.sagac-tablet {
    background-image: url(../img/MockUp_SAGAC_tablet.jpg);
}

.article-pic.sagac-mobile {
    background-image: url(../img/MockUp_SAGAC_m.jpg);
}

.work-main-pic {
    display: flex;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
}

.work-main-pic.cgv-pc {
    background-image: url(../img/MockUp_CGV_pc.jpg);
}

.work-main-pic.sagac-pc {
    background-image: url(../img/MockUp_SAGAC_pc.jpg);
}

.intro-article-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    min-height: 0;
}

.title {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
}

h1 {
    font-size: clamp(4rem, 7vw, 9.6rem);
    font-weight: 900;
    color: #FFFF00;
    line-height: 85%;
}

.title-line {
    width: 100%;
    height: clamp(1px, 1vw, 4px);
    background-color: #FFFF00;
}

.intro-article-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.intro-article-title {
    font-size: clamp(2.4rem, 3vw, 5.6rem);
    font-weight: 900;
    line-height: 90%;
}

.intro-article-text-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.intro-article-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.intro-article-text h3 {
    font-size: clamp(1.6rem, 2vw, 2.4rem);
    font-weight: 900;
}

.intro-article-text p {
    font-size: clamp(1.2rem, 1vw, 1.6rem);
    font-weight: 400;
    line-height: 140%;
    color: #cccccc;
    text-align: justify;
}

.intro-visual {
    position: absolute;
    top: 5%;
    right: 32px;
    width: 42%;
    height: auto;
    z-index: -10;
}

.intro-visual img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cover-pic {
    flex: 1;
    max-height: 100%;
}

.cover-title-box {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-end;
}

.cover-title-box h2 {
    font-size: clamp(4.5rem, 7vw, 9.6rem);
    font-weight: 900;
    line-height: 85%;
    text-align: right;
}

.cover-text {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
}

.cover-text h3 {
    display: block;
    width: fit-content;
    font-size: clamp(1.6rem, 2vw, 3.6rem);
    font-weight: bold;
}

.cover-hashtag {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cover-text li {
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    color: #cccccc;
}

article {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.article-pic {
    flex: 1;
}

.article-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.article-text h2 {
    font-size: clamp(1.8rem, 2vw, 2rem);
    font-weight: 900;
    line-height: 130%;
}

.article-text p {
    font-size: clamp(1.2rem, 1vw, 1.4rem);
    line-height: 170%;
    color: #cccccc;
    text-indent: 1rem;
    text-align: justify;
}

.work-article-container {
    display: flex;
    flex: 1;
    gap: clamp(16px, 2vw, 32px);
}

.work-article-container article {
    flex: 1;
}

strong {
    font-weight: bold;
    color: #FFF;
}

.indent {
    display: block;
    text-indent: 1rem;
}

.article-text p.tools {
    text-indent: 0;
}

.cover-title-box.end {
    justify-content: unset;
    gap: 24px;
}

.cover-title-box.end h2 {
    font-size: clamp(2.4rem, 6vw, 4rem);
    font-weight: bold;
}

.cover-title-box.end strong {
    font-size: clamp(2.4rem, 7vw, 9.6rem);
    font-weight: 900;
    line-height: 90%;
}

.cover-title-box.end p {
    font-size: clamp(1.2rem, 2vw, 1.8rem);
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contact {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact h3 {
    font-size: clamp(2rem, 2vw, 4rem);
    font-weight: 900;
}

.adress {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.adress li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adress strong {
    font-size: clamp(1.4rem, 1vw, 2.4rem);
}

.adress p {
    font-size: clamp(1.2rem, 1vw, 2rem);
    color: #cccccc;
}

.copy {
    display: flex;
    align-items: flex-end;
    gap: 16px;
}

.copy p {
    font-size: clamp(1.2rem, 1vw, 1.4rem);
    color: #cccccc;
}

.copy-pic {
    width: 100px;
    height: 100px;
    background-image: url(../img/card.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.go-site-btn {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
    padding: 8px 32px;
    border: 2px solid #FFF;
    border-radius: 24px;
    box-sizing: border-box;
    align-self: flex-start;
    margin-right: 2%;
    margin-top: 2%;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

.go-site-btn:hover {
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.25);
}

.fade {
    opacity: 0;
    transition: 2s;
}

.to-left {
    transform: translateX(-200px);
}

.to-right {
    transform: translateX(200px);
}

.to-top {
    transform: translateY(-200px);
}

.to-bottom {
    transform: translateY(200px);
}

.in {
    opacity: 1;
    transform: none;
}
